In [ ]:
import pandas as

In [7]:
df = pd.read_parquet('btcusd_hourly_price.parquet', engine='pyarrow')

mask = (df.index < '2025-01-01')

df[mask]

,open,high,low,close,volume,return_forward
timestamp,,,,,,
2012-01-01 10:00:00,4.58,4.58,4.58,4.58,0.000000,0E-20
2012-01-01 11:00:00,4.58,4.58,4.58,4.58,0.000000,0E-20
2012-01-01 12:00:00,4.58,4.58,4.58,4.58,0.000000,0E-20
2012-01-01 13:00:00,4.58,4.58,4.58,4.58,0.000000,0E-20
2012-01-01 14:00:00,4.58,4.58,4.58,4.58,0.000000,0E-20
...,...,...,...,...,...,...
2024-12-31 19:00:00,93760.00,94158.00,93600.00,94008.00,7.863550,-0.00630797378946472641
2024-12-31 20:00:00,94025.00,94059.00,93300.00,93415.00,4.565475,0.00285821334903388110
2024-12-31 21:00:00,93386.00,93777.00,93336.00,93682.00,28.484950,-0.00414167075852351572
2024-12-31 22:00:00,93703.00,93703.00,93227.00,93294.00,67.859345,0.00093253585439578110
2024-12-31 23:00:00,93300.00,93582.00,93237.00,93381.00,4.859937,0.00888831775200522590